<%- include('./layout/head.ejs')%>

<body style="background-color: aliceblue;">
    <%- include('./layout/nav.ejs')%>

    <main class="mainAbout">
        <h2>2B||!2B Team</h2>

        <div class="cards">
            <div class="about-cards">
                <div>
                    <h3>Mohammad Saad Eddin</h3>
                   
                </div>

                <div>
                    <img class="about-img" src="../img/Mohamad (2).jpg" />
                </div>
                <div>
    
                    <p>
                        tootsie roll danish pie donut. Chocolate cake cookie biscuit cotton candy jelly. Fruitcake jelly
                        beans fruitcake sweet topping apple pie sesame snaps. Jelly-o carrot cake apple pie.
                    </p>
                </div>
            </div>

            <div class="about-cards">
                <div>
                    <h3>Mohammad Al-Moqdad</h3>
             
                </div>

                <div>
                    <img class="about-img" src="../img/2dc721c1-a93d-4517-8a95-172aaf2a6bdb.jpg" />
                </div>
                <div>
                    
                    <p>
                        ummi bears topping. Lemon drops cake macaroon. Brownie sugar plum brownie halvah lemon drops
                        sweet.
                    </p>
                </div>
            </div>

            <div class="about-cards">
                <div>
                    <h3>Aisha Sattouf</h3>
                 
                </div>

                <div>
                    <img class="about-img" src="../img/aisha.jpg" />
                </div>
                <div>
                   
                    <p>
                        wafer chocolate cake jelly cupcake icing. Candy canes pastry cupcake sweet roll ice cream bear
                        claw lemon drops halvah. Caramels gummies jelly-o dessert halvah sweet wafer.
                    </p>
                </div>
            </div>


            <div class="about-cards">
                <div>
                    <h3>Aseel Mesmar</h3>
               
                </div>

                <div>
                    <img class="about-img" src="../img/129940475_140345050929109_3817011208706779206_n.png" />
                </div>
                <div>
                   
                    <p>
                        wafer chocolate cake jelly cupcake icing. Candy canes pastry cupcake sweet roll ice cream bear
                        claw lemon drops halvah. Caramels gummies jelly-o dessert halvah sweet wafer.
                    </p>
                </div>

            </div>
        </div>
    </main>





    <%- include('./layout/footer.ejs') %>
    <script src="./js/app.js"></script>
</body>

</html>