<%- include('./layout/head.ejs')%>
    

<%- include('./layout/nav.ejs')%>
    <form action="/signIn" method="POST">
        <input type="text" name="email">
        <input type="text" name="pass">
        <button type="submit" >Sign In</button>
    </form>
    <form action="/signUp" method="POST">
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="text" name="email">
        <input type="text" name="pass">
        <button type="submit" >SIGN UP</button>
    </form>
    <%- include('./layout/footer.ejs')%>