<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    
    <header>
        <%- include('./layout/nav.ejs')%>
    </header>
    
    <form action="/searchFood?id=<%=id%>" method="POST">
        <input type="text" name="firstIngredient" placeholder="first" >
        <input type="text" name="secondIngredient" placeholder='second' >
        <input type="text" name="thirdIngredient" placeholder='third'>
        <button> submit food</button>
    </form>


    <form action="/searchDrink?id=<%=id%>" method="POST">
        <input type="text" name="firstIngredient" placeholder="first" >
        <input type="text" name="secondIngredient" placeholder='second' >
        <input type="text" name="thirdIngredient" placeholder='third'>
        <button> sumbmit drink</button>
    </form>

</body>
</html>