*{
    text-align: center;
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
  }
  
  #body{
    /* background-color: white; */
    background-image: url('https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2.jpg');
  }
  html {
    /* font-size: 62.5%; */
  }
  
  .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
    }
    
     .about-cards {
      text-align: center;
      font-size: 1.2em;
      background-color:rgba(255, 255, 255, 0.377);
      border-radius: 1rem;
      min-height: 300px;
      height: 25rem;
      width: 18rem;
      padding-top: 30px;
      margin-bottom: 5rem ;
      box-shadow: 0 6px 18px rgb(0, 0, 0);
  
  
    } 
    
    .about-img {
      margin-top: 10%;
      border-radius: 50%;
      height: 12rem;
      width: 12rem;
      margin-bottom: 10px;
     
    }

    .mainAbout h2{
      width: 42%;
      margin: auto;
      font-size: 3em;
      color:#555;
      margin-bottom: 3rem;
      margin-top: 7rem;
      border-bottom: 4px solid  rgba(85, 33, 72, 0.822) ;
      font-family: 'Courgette', cursive;
    }
   .mainAbout h3{
      color: rgb(247, 244, 244);
      border-bottom: solid 4px rgba(85, 33, 72, 0.822);
      background-color: rgba(85, 33, 72, 0.822);
      padding: 7px;
      font-size: .9em;
      
      
    }
    .mainAbout p {
      font-size: .9em;
      font-weight: bold;
      font-family: 'Roboto Slab', serif;
    }