@import url('../styles/mhmd.css');
@import url('../styles/aseel.css');

.fa-star{
    color:yellow;
}

@media screen and (min-width: 400px) {
    body{
        background-image:  linear-gradient(to right, #69241646, #7e0e4062),url('.././img/body.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        overflow-x: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 0 0 0;
        padding: 0;
      
    }
    .header{
        width: 100%;
        background-image: linear-gradient(to right, rgba(220, 229, 230, 0.514) 20%,
        rgb(0, 0, 0,0.2)80%),url('../img/straw.jpg') ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 650px;
        padding-left:2%;
        /* padding-bottom: 5%; */
        /* margin-bottom: 25%; */

    }
    .nav {
        top:0;
        left: 0;
        height: 25%;
        background-color:white ;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        padding:5px 15px 5px 15px ;
        z-index: 50;
    }
    .nav ul {
        width: 50%;
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav ul li a {
        text-decoration: none;
    }
    .greeting{
        width: 40%;
        height: 40%;
       display: flex;
       flex-direction: column;
    }
    .greeting span p {
        position: relative;
        font-family: Impact, sans-serif;
        font-size: 50px;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #bd1d95, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 10s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      
      @keyframes animate {
        0% {
          background-position: -400%;
        }
        100% {
          background-position: 400%;
        }
      }
      .greeting span h1{
          font-size: 50px;
      }

     .index-main{   
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
    
    .rand-recipe{
     width: 100%;
     height: 600px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     background-color: white;
     padding-top: 1%;
     }
     .rand-recipe h2{
         width: 100%;
     }
     .randomImgHome{
         width: 100%;
         height: 100%;
     }

     .about{
        position: relative;
         width: 25%;
         height: 80%;
        box-shadow: 0 6px 18px rgb(0, 0, 0);

     }
     .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 56%;
        background: rgba(182, 179, 32, 0.72);
        color: #fff;
        visibility: hidden;
         opacity: 0;
         padding-top: 50%;
        /* transition effect. not necessary */
        transition: all 0.7s ease-in-out 0s;
        /* transition: opacity .2s, visibility .2s; */
      }

      .about:hover .img__description {
        visibility: visible;
        opacity: 1;
      }
    #intsection{
        height: 70%;
         width: 100%;
         background-color: white;
         display: flex;
         flex-direction: row;
         justify-content: center;
         /* margin-bottom: 25%; */
         padding-top: 7%;
         padding-bottom: 7%;
     }
     .introduction{
      width: 40%;
     }
     .introduction img{
         width: 100%;
         height: 100%;
         box-shadow: 5px 5px orangered;
     }
    #transparent{
        width: 100%;
        height: 30%;
        padding: 20% 0;
    }
    /* #transparent p{
        margin-top: 15%;
    } */
    #transparent p,h2{
        text-align: center;
    }
    #map{
        height: 200px;
        width: 300px;
    }
    
    footer{text-align:center;background-color:#111;color:#444;padding:1% 0;
        text-transform:uppercase;animation:fadeIn 5s ease-in-out;animation-delay:16s;}
    
    .contact{background-color:#222;height:300px;padding:0% 10%;margin-bottom: 0;}
    
    .contact .contact-info{
    color:#fff;padding:3% 0;
    display:flex;justify-content:space-around;
    animation:fadeIn 5s ease-in-out;animation-delay:16s;
    margin-bottom: -40%;}
    
    .contact .contact-info .contact-box{border-left:2px #eee solid;padding-left:2%;}
    .contact .contact-info .contact-box  h3{font-size:25px;margin:3% 0;color:#F5c33c;text-transform:uppercase;}
    .contact .contact-info .contact-box  p{font-size:12px;}
    h4{font-size:25px;margin:3%;color:#F5c33c;text-transform:uppercase;}
    
    .contact .foot{padding-left:8%;display:flex;padding-top:3%;animation:fadeIn 5s ease-in-out;animation-delay:16s;}
    .contact .foot .foot-box{width:33.3333%;padding:0 3%;margin-left:61%;margin-top:0%;}
    .contact .foot .foot-box .foot-icon{margin-left:3%;margin-top:80%;}
    .contact .foot .foot-box .foot-icon i{color:#555;margin-left:5%;}
    .contact .foot .foot-box .foot-icon i:hover{color:#999;}
    
    .contact .foot .foot-box h3{color:#fff;text-transform:uppercase;}
    .contact .foot .foot-box p{color:#555;}
    .contact .foot .foot-box input{background-color:#222;border:1px #555 solid;
        color:#999;padding:5px 15px;border-radius:10px;}

}
