    
    <div class="nav">
        <div class="inner_cont_nav">
            <div class="logo">
                <img src="img/logo.png"
                    style="height: 80px; width: 100px;" >
            </div>
            <ul id="clickable">
                <li><i id="homeLink"  class="fas fa-house-user">&nbsp;
                    HOME</i></li>
                <li><i id="searchLink" class="fas fa-search">&nbsp;
                    SEARCH</i></li>
                <li><i id="favLink" class=" fas fa-star">&nbsp;
                    FAVORITES</i></li>
  
            </ul>

        </div>
        <div class="lastItem">
        <% if(id){%>
            <span><i class="fas fa-user-circle"></i>&nbsp;<%= userData.firstname%></span>
        <%}
        else{%>
            <a href="/register">Sign In</a>
        <%} %>
        </div>
        <input type="hidden" name="id" id="userID" value="<%=id%>">

    </div>
    
